<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Bitirme Projesi Güz Dönemi</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Restaurantly/assets/img/favicon.png" rel="icon">
    <link href="~/Restaurantly/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link href="~/Restaurantly/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Restaurantly/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Restaurantly/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Restaurantly/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Restaurantly/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Restaurantly/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Restaurantly/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Restaurantly/assets/css/style.css" rel="stylesheet">

   
</head>