@model List<DataAccessLayer.Entities.Gallery>
<section id="gallery" class="gallery">

    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Galleri</h2>
            <p>Restaurantımızda Gezinebilrsiniz</p>
        </div>
    </div>

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">
            @foreach (var item in Model)
            {
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                        <a href="~/Img/@item.ImageUrl" class="gallery-lightbox" data-gall="gallery-item" >
                            <img src="~/Img/@item.ImageUrl" alt="" class="img-fluid" width="370" height="220">
                    </a>
                </div>
            </div>
            }
        </div>
    </div>
</section><!-- End Gallery Section -->